* {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #1b1b1b;
}

.main-div {
  height: 100vh;
  background-color: #ffd34e;
}

.login-ac-para {
  font-size: 14px;
}
.login-btn {
  background-color: #ffd34e;
}
.signup-div {
  background: #ffd34e;
  border-radius: 4px;

  clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);

  border-radius: 4px;
}
.description-para {
  font-size: 12px;
}
.input-div {
  width: 28vw !important;
}
.main-login-div {
  left: 165px;
  top: 55px;
  border-radius: 10px;
  box-shadow: 0px 0px 26px 0px grey;
}
.check-box {
  /* margin-left: -94px; */
}
.signin-btn {
  left: 150px;
}
.input-div {
}
.signin2nd-div {
  top: 200px;
  left: 40px;
  font-size: 15px;
}
.forgot-btn {
  margin-right: 70px !important;
}

@media only screen and (max-width: 1000px) {
  .main-login-div {
    flex-direction: column;
  }
  .signin-btn {
    left: 272px !important;
  }
  .main-login-div {
    width: 100vw !important;
  }
}
